<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conexionVIDEOCLUB_CHUCK"
        connectionString="Data Source=DESKTOP-MGGA4J6\SQLEXPRESS;Initial Catalog=VIDEOCLUB CHUCK;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>